<?xml version="1.0"?>
<!--
/**
 * Der Modulprogrammierer - Vinai Kopp, Rico Neitzel GbR
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the
 * Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.der-modulprogrammierer.de/licenses/dmcsl-1.0.html
 *
 *
 * @category   DerModPro
 * @package    DerModPro_BasePricePro
 * @copyright  Copyright (c) 2011 Der Modulprogrammierer - Vinai Kopp, Rico Neitzel GbR
 * @copyright  Copyright (c) 2012 Netresearch GmbH 
 * @license    http://www.der-modulprogrammierer.de/licenses/dmcsl-1.0.html  (DMCSL 1.0)
 */
 -->
<config>

    <modules>
        <DerModPro_BasePricePro>
            <version>13.01.25</version>
        </DerModPro_BasePricePro>
    </modules>

    <global>
        <models>
            <basepricepro>
                <class>DerModPro_BasePricePro_Model</class>
            </basepricepro>
        </models>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>DerModPro_BasePricePro_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                    <product_view_type_grouped>DerModPro_BasePricePro_Block_Catalog_Product_View_Type_Grouped</product_view_type_grouped>
                </rewrite>
            </catalog>
            <bundle>
                <rewrite>
                    <catalog_product_view_type_bundle>DerModPro_BasePricePro_Block_Bundle_Catalog_Product_View_Type_Bundle</catalog_product_view_type_bundle>
                </rewrite>
            </bundle>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_config_simple>DerModPro_BasePricePro_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Simple</catalog_product_edit_tab_super_config_simple>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <basepricepro>
                <class>DerModPro_BasePricePro_Helper</class>
            </basepricepro>
        </helpers>
        <resources>
            <basepricepro_setup>
                <setup>
                    <module>DerModPro_BasePricePro</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </basepricepro_setup>
            <basepricepro_write>
                <connection><use>default_write</use></connection>
            </basepricepro_write>
            <basepricepro_read>
                <connection><use>default_read</use></connection>
            </basepricepro_read>
        </resources>
        <bcp>
            <price_selector_list>
                <baseprice>baseprice-label-</baseprice>
            </price_selector_list>
        </bcp>
    </global>
    
    <frontend>
        <events>
            <block_catalog_product_get_price_html>
                <observers>
                    <basepricepro>
                        <type>singleton</type>
                        <class>basepricepro/observer</class>
                        <method>blockCatalogProductGetPriceHtml</method>
                    </basepricepro>
                </observers>
            </block_catalog_product_get_price_html>
        </events>
        <layout>
            <updates>
                <basepricepro>
                    <file>basepricepro.xml</file>
                </basepricepro>
            </updates>
        </layout>
        <translate>
            <modules>
                <DerModPro_BasePricePro>
                     <files>
                          <default>DerModPro_BasePrice.csv</default>
                     </files>
                </DerModPro_BasePricePro>
            </modules>
        </translate>
        <!-- make sure that the base price attributes are loaded in the used products collections of configurable products -->
        <!-- see Mage_Catalog_Model_Product_Type_Configurable::getUsedProducts -->
        <!-- see http://magento.stackexchange.com/a/50194/142 -->
        <product>
            <configurable>
                <child>
                    <attributes>
                        <base_price_amount/>
                        <base_price_unit/>
                        <base_price_base_amount/>
                        <base_price_base_unit/>
                    </attributes>
                </child>
            </configurable>
        </product>
    </frontend>
    
    <adminhtml>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <baseprice>
                        <type>singleton</type>
                        <class>basepricepro/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </baseprice>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </adminhtml>
</config>
