<?xml version="1.0"?>
<config>
  <modules>
    <Stripe_Payments>
      <!-- This is not the module's version number. See the changelog instead at app/code/community/Stripe/Payments/CHANGELOG.md. -->
      <version>1.0.0</version>
    </Stripe_Payments>
  </modules>
  <global>
    <models>
      <compiler>
        <rewrite>
          <process>Stripe_Payments_Model_Compiler_Process</process>
        </rewrite>
      </compiler>
      <stripe_payments>
        <class>Stripe_Payments_Model</class>
      </stripe_payments>
    </models>
    <helpers>
      <stripe_payments>
        <class>Stripe_Payments_Helper</class>
      </stripe_payments>
    </helpers>
    <blocks>
      <stripe_payments>
        <class>Stripe_Payments_Block</class>
      </stripe_payments>
      <payment>
        <rewrite>
          <info>Stripe_Payments_Block_Payment_Info</info>
        </rewrite>
      </payment>
    </blocks>
    <resources>
      <stripe_payments_setup>
        <setup>
          <module>Stripe_Payments</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </stripe_payments_setup>
      <stripe_payments_write>
        <connection>
          <use>core_write</use>
        </connection>
      </stripe_payments_write>
      <stripe_payments_read>
        <connection>
          <use>core_read</use>
        </connection>
      </stripe_payments_read>
    </resources>
    <events>
      <sales_order_payment_place_end>
        <observers>
          <stripe_payments_update_customer_id>
            <type>singleton</type>
            <class>stripe_payments/observer</class>
            <method>sales_order_payment_place_end</method>
          </stripe_payments_update_customer_id>
        </observers>
      </sales_order_payment_place_end>
      <sales_order_invoice_pay>
        <observers>
          <stripe_payments_invoice_pay>
            <type>singleton</type>
            <class>stripe_payments/observer</class>
            <method>sales_order_invoice_pay</method>
          </stripe_payments_invoice_pay>
        </observers>
      </sales_order_invoice_pay>
      <sales_order_invoice_cancel>
        <observers>
          <stripe_payments_invoice_cancel>
            <type>singleton</type>
            <class>stripe_payments/observer</class>
            <method>sales_order_invoice_cancel</method>
          </stripe_payments_invoice_cancel>
        </observers>
      </sales_order_invoice_cancel>

      <!-- Webhooks -->

      <stripe_payments_webhook_charge_refunded_card>
        <observers>
          <stripe_payments_webhook_charge_refunded_card>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_refunded_card</method>
          </stripe_payments_webhook_charge_refunded_card>
        </observers>
      </stripe_payments_webhook_charge_refunded_card>

      <stripe_payments_webhook_payment_intent_succeeded>
        <observers>
          <stripe_payments_webhook_payment_intent_succeeded>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_payment_intent_succeeded</method>
          </stripe_payments_webhook_payment_intent_succeeded>
        </observers>
      </stripe_payments_webhook_payment_intent_succeeded>

      <!-- Bancontact -->
      <stripe_payments_webhook_source_chargeable_bancontact>
        <observers>
          <stripe_payments_webhook_source_chargeable_bancontact>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_bancontact</method>
          </stripe_payments_webhook_source_chargeable_bancontact>
        </observers>
      </stripe_payments_webhook_source_chargeable_bancontact>
      <stripe_payments_webhook_source_canceled_bancontact>
        <observers>
          <stripe_payments_webhook_source_canceled_bancontact>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_bancontact</method>
          </stripe_payments_webhook_source_canceled_bancontact>
        </observers>
      </stripe_payments_webhook_source_canceled_bancontact>
      <stripe_payments_webhook_source_failed_bancontact>
        <observers>
          <stripe_payments_webhook_source_failed_bancontact>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_bancontact</method>
          </stripe_payments_webhook_source_failed_bancontact>
        </observers>
      </stripe_payments_webhook_source_failed_bancontact>
      <stripe_payments_webhook_charge_succeeded_bancontact>
        <observers>
          <stripe_payments_webhook_charge_succeeded_bancontact>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_bancontact</method>
          </stripe_payments_webhook_charge_succeeded_bancontact>
        </observers>
      </stripe_payments_webhook_charge_succeeded_bancontact>
      <stripe_payments_webhook_charge_failed_bancontact>
        <observers>
          <stripe_payments_webhook_charge_failed_bancontact>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_bancontact</method>
          </stripe_payments_webhook_charge_failed_bancontact>
        </observers>
      </stripe_payments_webhook_charge_failed_bancontact>

      <!-- Giropay -->
      <stripe_payments_webhook_source_chargeable_giropay>
        <observers>
          <stripe_payments_webhook_source_chargeable_giropay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_giropay</method>
          </stripe_payments_webhook_source_chargeable_giropay>
        </observers>
      </stripe_payments_webhook_source_chargeable_giropay>
      <stripe_payments_webhook_source_canceled_giropay>
        <observers>
          <stripe_payments_webhook_source_canceled_giropay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_giropay</method>
          </stripe_payments_webhook_source_canceled_giropay>
        </observers>
      </stripe_payments_webhook_source_canceled_giropay>
      <stripe_payments_webhook_source_failed_giropay>
        <observers>
          <stripe_payments_webhook_source_failed_giropay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_giropay</method>
          </stripe_payments_webhook_source_failed_giropay>
        </observers>
      </stripe_payments_webhook_source_failed_giropay>
      <stripe_payments_webhook_charge_succeeded_giropay>
        <observers>
          <stripe_payments_webhook_charge_succeeded_giropay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_giropay</method>
          </stripe_payments_webhook_charge_succeeded_giropay>
        </observers>
      </stripe_payments_webhook_charge_succeeded_giropay>
      <stripe_payments_webhook_charge_failed_giropay>
        <observers>
          <stripe_payments_webhook_charge_failed_giropay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_giropay</method>
          </stripe_payments_webhook_charge_failed_giropay>
        </observers>
      </stripe_payments_webhook_charge_failed_giropay>

      <!-- iDEAL -->
      <stripe_payments_webhook_source_chargeable_ideal>
        <observers>
          <stripe_payments_webhook_source_chargeable_ideal>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_ideal</method>
          </stripe_payments_webhook_source_chargeable_ideal>
        </observers>
      </stripe_payments_webhook_source_chargeable_ideal>
      <stripe_payments_webhook_source_canceled_ideal>
        <observers>
          <stripe_payments_webhook_source_canceled_ideal>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_ideal</method>
          </stripe_payments_webhook_source_canceled_ideal>
        </observers>
      </stripe_payments_webhook_source_canceled_ideal>
      <stripe_payments_webhook_source_failed_ideal>
        <observers>
          <stripe_payments_webhook_source_failed_ideal>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_ideal</method>
          </stripe_payments_webhook_source_failed_ideal>
        </observers>
      </stripe_payments_webhook_source_failed_ideal>
      <stripe_payments_webhook_charge_succeeded_ideal>
        <observers>
          <stripe_payments_webhook_charge_succeeded_ideal>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_ideal</method>
          </stripe_payments_webhook_charge_succeeded_ideal>
        </observers>
      </stripe_payments_webhook_charge_succeeded_ideal>
      <stripe_payments_webhook_charge_failed_ideal>
        <observers>
          <stripe_payments_webhook_charge_failed_ideal>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_ideal</method>
          </stripe_payments_webhook_charge_failed_ideal>
        </observers>
      </stripe_payments_webhook_charge_failed_ideal>

      <!-- SEPA Direct Debit -->
      <stripe_payments_webhook_source_chargeable_sepa_debit>
        <observers>
          <stripe_payments_webhook_source_chargeable_sepa_debit>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_sepa_debit</method>
          </stripe_payments_webhook_source_chargeable_sepa_debit>
        </observers>
      </stripe_payments_webhook_source_chargeable_sepa_debit>
      <stripe_payments_webhook_source_canceled_sepa_debit>
        <observers>
          <stripe_payments_webhook_source_canceled_sepa_debit>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_sepa_debit</method>
          </stripe_payments_webhook_source_canceled_sepa_debit>
        </observers>
      </stripe_payments_webhook_source_canceled_sepa_debit>
      <stripe_payments_webhook_source_failed_sepa_debit>
        <observers>
          <stripe_payments_webhook_source_failed_sepa_debit>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_sepa_debit</method>
          </stripe_payments_webhook_source_failed_sepa_debit>
        </observers>
      </stripe_payments_webhook_source_failed_sepa_debit>
      <stripe_payments_webhook_charge_succeeded_sepa_debit>
        <observers>
          <stripe_payments_webhook_charge_succeeded_sepa_debit>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_sepa_debit</method>
          </stripe_payments_webhook_charge_succeeded_sepa_debit>
        </observers>
      </stripe_payments_webhook_charge_succeeded_sepa_debit>
      <stripe_payments_webhook_charge_failed_sepa_debit>
        <observers>
          <stripe_payments_webhook_charge_failed_sepa_debit>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_sepa_debit</method>
          </stripe_payments_webhook_charge_failed_sepa_debit>
        </observers>
      </stripe_payments_webhook_charge_failed_sepa_debit>

      <!-- SOFORT -->
      <stripe_payments_webhook_source_chargeable_sofort>
        <observers>
          <stripe_payments_webhook_source_chargeable_sofort>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_sofort</method>
          </stripe_payments_webhook_source_chargeable_sofort>
        </observers>
      </stripe_payments_webhook_source_chargeable_sofort>
      <stripe_payments_webhook_source_canceled_sofort>
        <observers>
          <stripe_payments_webhook_source_canceled_sofort>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_sofort</method>
          </stripe_payments_webhook_source_canceled_sofort>
        </observers>
      </stripe_payments_webhook_source_canceled_sofort>
      <stripe_payments_webhook_source_failed_sofort>
        <observers>
          <stripe_payments_webhook_source_failed_sofort>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_sofort</method>
          </stripe_payments_webhook_source_failed_sofort>
        </observers>
      </stripe_payments_webhook_source_failed_sofort>
      <stripe_payments_webhook_charge_succeeded_sofort>
        <observers>
          <stripe_payments_webhook_charge_succeeded_sofort>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_sofort</method>
          </stripe_payments_webhook_charge_succeeded_sofort>
        </observers>
      </stripe_payments_webhook_charge_succeeded_sofort>
      <stripe_payments_webhook_charge_failed_sofort>
        <observers>
          <stripe_payments_webhook_charge_failed_sofort>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_sofort</method>
          </stripe_payments_webhook_charge_failed_sofort>
        </observers>
      </stripe_payments_webhook_charge_failed_sofort>

      <!-- Multibanco -->
      <stripe_payments_webhook_source_chargeable_multibanco>
        <observers>
          <stripe_payments_webhook_source_chargeable_multibanco>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_multibanco</method>
          </stripe_payments_webhook_source_chargeable_multibanco>
        </observers>
      </stripe_payments_webhook_source_chargeable_multibanco>
      <stripe_payments_webhook_source_canceled_multibanco>
        <observers>
          <stripe_payments_webhook_source_canceled_multibanco>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_multibanco</method>
          </stripe_payments_webhook_source_canceled_multibanco>
        </observers>
      </stripe_payments_webhook_source_canceled_multibanco>
      <stripe_payments_webhook_source_failed_multibanco>
        <observers>
          <stripe_payments_webhook_source_failed_multibanco>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_multibanco</method>
          </stripe_payments_webhook_source_failed_multibanco>
        </observers>
      </stripe_payments_webhook_source_failed_multibanco>
      <stripe_payments_webhook_charge_succeeded_multibanco>
        <observers>
          <stripe_payments_webhook_charge_succeeded_multibanco>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_multibanco</method>
          </stripe_payments_webhook_charge_succeeded_multibanco>
        </observers>
      </stripe_payments_webhook_charge_succeeded_multibanco>
      <stripe_payments_webhook_charge_failed_multibanco>
        <observers>
          <stripe_payments_webhook_charge_failed_multibanco>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_multibanco</method>
          </stripe_payments_webhook_charge_failed_multibanco>
        </observers>
      </stripe_payments_webhook_charge_failed_multibanco>

      <stripe_payments_webhook_source_chargeable_p24>
        <observers>
          <stripe_payments_webhook_source_chargeable_p24>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_p24</method>
          </stripe_payments_webhook_source_chargeable_p24>
        </observers>
      </stripe_payments_webhook_source_chargeable_p24>
      <stripe_payments_webhook_source_canceled_p24>
        <observers>
          <stripe_payments_webhook_source_canceled_p24>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_p24</method>
          </stripe_payments_webhook_source_canceled_p24>
        </observers>
      </stripe_payments_webhook_source_canceled_p24>
      <stripe_payments_webhook_source_failed_ideal>
        <observers>
          <stripe_payments_webhook_source_failed_p24>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_p24</method>
          </stripe_payments_webhook_source_failed_p24>
        </observers>
      </stripe_payments_webhook_source_failed_ideal>
      <stripe_payments_webhook_charge_succeeded_p24>
        <observers>
          <stripe_payments_webhook_charge_succeeded_p24>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_p24</method>
          </stripe_payments_webhook_charge_succeeded_p24>
        </observers>
      </stripe_payments_webhook_charge_succeeded_p24>
      <stripe_payments_webhook_charge_failed_p24>
        <observers>
          <stripe_payments_webhook_charge_failed_p24>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_p24</method>
          </stripe_payments_webhook_charge_failed_p24>
        </observers>
      </stripe_payments_webhook_charge_failed_p24>

      <!-- EPS -->
      <stripe_payments_webhook_source_chargeable_eps>
        <observers>
          <stripe_payments_webhook_source_chargeable_eps>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_eps</method>
          </stripe_payments_webhook_source_chargeable_eps>
        </observers>
      </stripe_payments_webhook_source_chargeable_eps>
      <stripe_payments_webhook_source_canceled_eps>
        <observers>
          <stripe_payments_webhook_source_canceled_eps>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_eps</method>
          </stripe_payments_webhook_source_canceled_eps>
        </observers>
      </stripe_payments_webhook_source_canceled_eps>
      <stripe_payments_webhook_source_failed_eps>
        <observers>
          <stripe_payments_webhook_source_failed_eps>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_eps</method>
          </stripe_payments_webhook_source_failed_eps>
        </observers>
      </stripe_payments_webhook_source_failed_eps>
      <stripe_payments_webhook_charge_succeeded_eps>
        <observers>
          <stripe_payments_webhook_charge_succeeded_eps>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_eps</method>
          </stripe_payments_webhook_charge_succeeded_eps>
        </observers>
      </stripe_payments_webhook_charge_succeeded_eps>
      <stripe_payments_webhook_charge_failed_eps>
        <observers>
          <stripe_payments_webhook_charge_failed_eps>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_eps</method>
          </stripe_payments_webhook_charge_failed_eps>
        </observers>
      </stripe_payments_webhook_charge_failed_eps>

      <!-- Alipay -->
      <stripe_payments_webhook_source_chargeable_alipay>
        <observers>
          <stripe_payments_webhook_source_chargeable_alipay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_alipay</method>
          </stripe_payments_webhook_source_chargeable_alipay>
        </observers>
      </stripe_payments_webhook_source_chargeable_alipay>
      <stripe_payments_webhook_source_canceled_alipay>
        <observers>
          <stripe_payments_webhook_source_canceled_alipay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_alipay</method>
          </stripe_payments_webhook_source_canceled_alipay>
        </observers>
      </stripe_payments_webhook_source_canceled_alipay>
      <stripe_payments_webhook_source_failed_alipay>
        <observers>
          <stripe_payments_webhook_source_failed_alipay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_alipay</method>
          </stripe_payments_webhook_source_failed_alipay>
        </observers>
      </stripe_payments_webhook_source_failed_alipay>
      <stripe_payments_webhook_charge_succeeded_alipay>
        <observers>
          <stripe_payments_webhook_charge_succeeded_alipay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_alipay</method>
          </stripe_payments_webhook_charge_succeeded_alipay>
        </observers>
      </stripe_payments_webhook_charge_succeeded_alipay>
      <stripe_payments_webhook_charge_failed_alipay>
        <observers>
          <stripe_payments_webhook_charge_failed_alipay>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_alipay</method>
          </stripe_payments_webhook_charge_failed_alipay>
        </observers>
      </stripe_payments_webhook_charge_failed_alipay>

      <!-- WeChat Pay -->
      <stripe_payments_webhook_source_chargeable_wechat>
        <observers>
          <stripe_payments_webhook_source_chargeable_wechat>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_chargeable_wechat</method>
          </stripe_payments_webhook_source_chargeable_wechat>
        </observers>
      </stripe_payments_webhook_source_chargeable_wechat>
      <stripe_payments_webhook_source_canceled_wechat>
        <observers>
          <stripe_payments_webhook_source_canceled_wechat>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_canceled_wechat</method>
          </stripe_payments_webhook_source_canceled_wechat>
        </observers>
      </stripe_payments_webhook_source_canceled_wechat>
      <stripe_payments_webhook_source_failed_wechat>
        <observers>
          <stripe_payments_webhook_source_failed_wechat>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_source_failed_wechat</method>
          </stripe_payments_webhook_source_failed_wechat>
        </observers>
      </stripe_payments_webhook_source_failed_wechat>
      <stripe_payments_webhook_charge_succeeded_wechat>
        <observers>
          <stripe_payments_webhook_charge_succeeded_wechat>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_wechat</method>
          </stripe_payments_webhook_charge_succeeded_wechat>
        </observers>
      </stripe_payments_webhook_charge_succeeded_wechat>
      <stripe_payments_webhook_charge_failed_wechat>
        <observers>
          <stripe_payments_webhook_charge_failed_wechat>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_wechat</method>
          </stripe_payments_webhook_charge_failed_wechat>
        </observers>
      </stripe_payments_webhook_charge_failed_wechat>

      <!-- ACH -->
      <stripe_payments_webhook_customer_source_updated>
        <observers>
          <stripe_payments_webhook_customer_source_updated>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_customer_source_updated</method>
          </stripe_payments_webhook_customer_source_updated>
        </observers>
      </stripe_payments_webhook_customer_source_updated>
      <stripe_payments_webhook_charge_succeeded_bank_account>
        <observers>
          <stripe_payments_webhook_charge_succeeded_bank_account>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_succeeded_bank_account</method>
          </stripe_payments_webhook_charge_succeeded_bank_account>
        </observers>
      </stripe_payments_webhook_charge_succeeded_bank_account>
      <stripe_payments_webhook_charge_failed_bank_account>
        <observers>
          <stripe_payments_webhook_charge_failed_bank_account>
            <type>singleton</type>
            <class>stripe_payments/webhooks_observer</class>
            <method>stripe_payments_webhook_charge_failed_bank_account</method>
          </stripe_payments_webhook_charge_failed_bank_account>
        </observers>
      </stripe_payments_webhook_charge_failed_bank_account>

    </events>
    <payment>
      <stripe_payments>
        <cc_types>
          <visa>
            <code>visa</code>
            <name>Visa</name>
            <order>10</order>
          </visa>
          <mastercard>
            <code>mastercard</code>
            <name>MasterCard</name>
            <order>20</order>
          </mastercard>
          <amex>
            <code>amex</code>
            <name>American Express</name>
            <order>30</order>
          </amex>
          <jcb>
            <code>jcb</code>
            <name>JCB</name>
            <order>40</order>
          </jcb>
          <discover>
            <code>discover</code>
            <name>Discover</name>
            <order>50</order>
          </discover>
          <diners>
            <code>diners</code>
            <name>Diners Club</name>
            <order>60</order>
          </diners>
        </cc_types>
      </stripe_payments>
    </payment>
  </global>
  <default>
    <payment>
      <stripe_payments>
        <model>stripe_payments/method</model>
        <active>1</active>
        <title>Pay by Card (Stripe)</title>
        <payment_action>authorize_capture</payment_action>
        <radar_risk_level>10</radar_risk_level>
        <moto_exemptions>0</moto_exemptions>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <use_store_currency>1</use_store_currency>
        <card_autodetect>2</card_autodetect>
        <cctypes>visa,mastercard,amex,jcb,discover,diners</cctypes>
        <apple_pay_checkout>1</apple_pay_checkout>
        <apple_pay_location>2</apple_pay_location>
        <minimum_order_amount>0.30</minimum_order_amount>
      </stripe_payments>
      <stripe_payments_express>
        <cart_button>1</cart_button>
        <product_button>1</product_button>
        <ccsave>1</ccsave>
        <button_type>default</button_type>
        <button_theme>dark</button_theme>
        <button_height>33</button_height>
      </stripe_payments_express>
      <stripe_payments_bancontact>
        <model>stripe_payments/method_bancontact</model>
        <active>1</active>
        <title>Bancontact</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>1</allowspecific>
        <specificcountry>BE</specificcountry>
        <sort_order>2</sort_order>
      </stripe_payments_bancontact>
      <stripe_payments_giropay>
        <model>stripe_payments/method_giropay</model>
        <active>1</active>
        <title>Giropay</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>1</allowspecific>
        <specificcountry>DE</specificcountry>
        <sort_order>3</sort_order>
      </stripe_payments_giropay>
      <stripe_payments_ideal>
        <model>stripe_payments/method_ideal</model>
        <active>1</active>
        <title>iDEAL</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>1</allowspecific>
        <specificcountry>NL</specificcountry>
        <sort_order>4</sort_order>
      </stripe_payments_ideal>
      <stripe_payments_sepa>
        <model>stripe_payments/method_sepa</model>
        <active>1</active>
        <title>SEPA Direct Debit</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>1</allowspecific>
        <specificcountry>AT,BE,CY,EE,FI,FR,DE,GR,IE,IT,LV,LT,LU,MT,NL,PT,SK,SI,ES,BG,HR,CZ,DK,HU,PL,RO,SE,GB,IS,LI,NO,MC,SM,CH</specificcountry>
        <sort_order>5</sort_order>
      </stripe_payments_sepa>
      <stripe_payments_sofort>
        <model>stripe_payments/method_sofort</model>
        <active>1</active>
        <title>SOFORT</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>1</allowspecific>
        <specificcountry>AT,BE,DE,NL,ES,IT</specificcountry>
        <sort_order>6</sort_order>
      </stripe_payments_sofort>
      <stripe_payments_multibanco>
        <model>stripe_payments/method_multibanco</model>
        <active>1</active>
        <title>Multibanco</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>1</allowspecific>
        <specificcountry>PT</specificcountry>
        <sort_order>7</sort_order>
      </stripe_payments_multibanco>
      <stripe_payments_p24>
        <model>stripe_payments/method_p24</model>
        <active>1</active>
        <title>Przelewy24 (P24)</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>1</allowspecific>
        <specificcountry>PL</specificcountry>
        <sort_order>7</sort_order>
      </stripe_payments_p24>
      <stripe_payments_eps>
        <model>stripe_payments/method_eps</model>
        <active>1</active>
        <title>EPS</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>1</allowspecific>
        <specificcountry>AT</specificcountry>
        <sort_order>8</sort_order>
      </stripe_payments_eps>
      <stripe_payments_alipay>
        <model>stripe_payments/method_alipay</model>
        <active>1</active>
        <title>Alipay</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>0</allowspecific>
        <allow_currencies>0</allow_currencies>
        <allowed_currencies>AUD,CAD,EUR,GBP,HKD,JPY,NZD,SGD,USD</allowed_currencies>
        <sort_order>2</sort_order>
      </stripe_payments_alipay>
      <stripe_payments_wechat>
        <model>stripe_payments/method_wechat</model>
        <active>1</active>
        <title>WeChat Pay</title>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <allowspecific>0</allowspecific>
        <allow_currencies>0</allow_currencies>
        <allowed_currencies>AUD,CAD,EUR,GBP,HKD,JPY,NZD,SGD,USD</allowed_currencies>
        <sort_order>2</sort_order>
      </stripe_payments_wechat>
      <stripe_payments_ach>
        <model>stripe_payments/method_ach</model>
        <active>1</active>
        <title>ACH Bank Account Transfer</title>
        <payment_action>authorize</payment_action>
        <allowspecific>1</allowspecific>
        <specificcountry>US</specificcountry>
        <allowed_currencies>USD</allowed_currencies>
        <sort_order>6</sort_order>
      </stripe_payments_ach>
    </payment>
  </default>
  <frontend>
    <routers>
      <stripe_payments>
        <use>standard</use>
        <args>
          <module>Stripe_Payments</module>
          <frontName>stripe</frontName>
        </args>
      </stripe_payments>
      <customer>
        <args>
          <modules>
            <savedcards before="Mage_Customer">Stripe_Payments</savedcards>
          </modules>
        </args>
      </customer>
      <checkout>
        <args>
          <modules>
            <multishipping before="Mage_Checkout">Stripe_Payments</multishipping>
          </modules>
        </args>
      </checkout>
    </routers>
    <layout>
      <updates>
        <stripe_payments>
          <file>stripe_payments/payments.xml</file>
        </stripe_payments>
        <savedcards module="Stripe_Payments">
          <file>stripe_payments/customer/savedcards.xml</file>
        </savedcards>
        <stripe_payments_express>
          <file>stripe_payments/express.xml</file>
        </stripe_payments_express>
      </updates>
    </layout>
    <translate>
      <modules>
        <Stripe_Payments>
          <files>
            <default>Stripe_Payments.csv</default>
          </files>
        </Stripe_Payments>
      </modules>
    </translate>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <stripe_payments>
          <file>stripe_payments.xml</file>
        </stripe_payments>
      </updates>
    </layout>
    <translate>
      <modules>
        <Stripe_Payments>
          <files>
            <default>Stripe_Payments.csv</default>
          </files>
        </Stripe_Payments>
      </modules>
    </translate>
  </adminhtml>
</config>
