<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This file is part of the official Amazon Pay and Login with Amazon extension
 * for Magento 1.x
 *
 * (c) 2014 - 2019 creativestyle GmbH. All Rights reserved
 *
 * Distribution of the derivatives reusing, transforming or being built upon
 * this software, is not allowed without explicit written permission granted
 * by creativestyle GmbH
 *
 * @category   Creativestyle
 * @package    Creativestyle_AmazonPayments
 * @copyright  2014 - 2019 creativestyle GmbH
 * @author     Marek Zabrowarny <ticket@creativestyle.de>
 */
-->
<config>
    <modules>
        <Creativestyle_AmazonPayments>
            <version>3.0.18</version>
        </Creativestyle_AmazonPayments>
    </modules>
    <global>
        <blocks>
            <amazonpayments>
                <class>Creativestyle_AmazonPayments_Block</class>
            </amazonpayments>
        </blocks>
        <models>
            <amazonpayments>
                <class>Creativestyle_AmazonPayments_Model</class>
            </amazonpayments>
        </models>
        <helpers>
            <amazonpayments>
                <class>Creativestyle_AmazonPayments_Helper</class>
            </amazonpayments>
        </helpers>
        <resources>
            <amazonpayments_setup>
                <setup>
                    <module>Creativestyle_AmazonPayments</module>
                    <class>Creativestyle_AmazonPayments_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amazonpayments_setup>
            <amazonpayments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </amazonpayments_write>
            <amazonpayments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </amazonpayments_read>
        </resources>
        <events>
            <amazonpayments_advanced_api_post_call>
                <observers>
                    <amazonpayments_advanced_observer>
                        <type>singleton</type>
                        <class>Creativestyle_AmazonPayments_Model_Observer</class>
                        <method>logApiCall</method>
                    </amazonpayments_advanced_observer>
                </observers>
            </amazonpayments_advanced_api_post_call>
            <amazonpayments_ipn_request>
                <observers>
                    <amazonpayments_advanced_observer>
                        <type>singleton</type>
                        <class>Creativestyle_AmazonPayments_Model_Observer</class>
                        <method>logIpnCall</method>
                    </amazonpayments_advanced_observer>
                </observers>
            </amazonpayments_ipn_request>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <amazonpayments_advanced_observer>
                        <type>singleton</type>
                        <class>Creativestyle_AmazonPayments_Model_Observer</class>
                        <method>injectAuthorizeButton</method>
                    </amazonpayments_advanced_observer>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
            <controller_front_init_before>
                <observers>
                    <amazonpayments_advanced_observer>
                        <type>singleton</type>
                        <class>Creativestyle_AmazonPayments_Model_Observer</class>
                        <method>setSecureUrls</method>
                    </amazonpayments_advanced_observer>
                </observers>
            </controller_front_init_before>
            <sales_order_payment_transaction_save_before>
                <observers>
                    <amazonpayments_advanced_observer>
                        <type>singleton</type>
                        <class>Creativestyle_AmazonPayments_Model_Observer</class>
                        <method>saveTransactionBefore</method>
                    </amazonpayments_advanced_observer>
                </observers>
            </sales_order_payment_transaction_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <amazonpayments_advanced_observer>
                        <class>Creativestyle_AmazonPayments_Model_Observer</class>
                        <method>sendDeliveryNotification</method>
                    </amazonpayments_advanced_observer>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <payment>
            <groups>
                <amazonpayments>Amazon Payments</amazonpayments>
                <amazonpayments_legacy>Amazon Payments (Legacy)</amazonpayments_legacy>
            </groups>
        </payment>
        <template>
            <email>
                <amazonpayments_email_authorization_declined_template translate="label" module="amazonpayments">
                    <label>Amazon authorization declined</label>
                    <file>amazon_payments_failed.html</file>
                    <type>html</type>
                </amazonpayments_email_authorization_declined_template>
            </email>
        </template>
        <creativestyle>
            <amazonpayments>
                <account_regions>
                    <EUR_DE>Germany</EUR_DE>
                    <EUR_FR>France</EUR_FR>
                    <EUR_IT>Italy</EUR_IT>
                    <EUR_ES>Spain</EUR_ES>
                    <GBP>United Kingdom</GBP>
                    <EUR>Eurozone</EUR>
                </account_regions>
                <button_urls>
                    <de>
                        <sandbox>https://payments-sandbox.amazon.de/gp/widgets/button</sandbox>
                        <live>https://payments.amazon.de/gp/widgets/button</live>
                    </de>
                    <uk>
                        <sandbox>https://payments-sandbox.amazon.co.uk/gp/widgets/button</sandbox>
                        <live>https://payments.amazon.co.uk/gp/widgets/button</live>
                    </uk>
                    <us>
                        <sandbox>https://payments-sandbox.amazon.com/gp/widgets/button</sandbox>
                        <live>https://payments.amazon.com/gp/widgets/button</live>
                    </us>
                </button_urls>
                <widget_hosts>
                    <us>https://static-na.payments-amazon.com</us>
                    <de>https://static-eu.payments-amazon.com</de>
                    <jp>https://static-fe.payments-amazon.com</jp>
                </widget_hosts>
                <customer_attributes>
                    <prefix />
                    <middlename/>
                    <suffix/>
                    <dob/>
                    <taxvat/>
                    <gender/>
                </customer_attributes>
                <objects>
                    <OrderReference>
                        <states>
                            <Draft>
                                <simulation_allowed>0</simulation_allowed>
                            </Draft>
                            <Open>
                                <simulation_allowed>0</simulation_allowed>
                            </Open>
                            <Suspended>
                                <reasons>
                                    <InvalidPaymentMethod>
                                        <simulation_allowed>0</simulation_allowed>
                                    </InvalidPaymentMethod>
                                </reasons>
                            </Suspended>
                            <Canceled>
                                <reasons>
                                    <SellerCanceled>
                                        <simulation_allowed>0</simulation_allowed>
                                    </SellerCanceled>
                                    <Stale>
                                        <simulation_allowed>0</simulation_allowed>
                                    </Stale>
                                    <AmazonCanceled>
                                        <simulation_allowed>0</simulation_allowed>
                                    </AmazonCanceled>
                                </reasons>
                            </Canceled>
                            <Closed>
                                <reasons>
                                    <Expired>
                                        <simulation_allowed>0</simulation_allowed>
                                    </Expired>
                                    <MaxAmountCharged>
                                        <simulation_allowed>0</simulation_allowed>
                                    </MaxAmountCharged>
                                    <MaxAuthorizationsCaptured>
                                        <simulation_allowed>0</simulation_allowed>
                                    </MaxAuthorizationsCaptured>
                                    <AmazonClosed>
                                        <simulation_allowed>1</simulation_allowed>
                                    </AmazonClosed>
                                    <SellerClosed>
                                        <simulation_allowed>0</simulation_allowed>
                                    </SellerClosed>
                                </reasons>
                            </Closed>
                        </states>
                    </OrderReference>
                    <Authorization>
                        <states>
                            <Pending>
                                <simulation_allowed>0</simulation_allowed>
                            </Pending>
                            <Open>
                                <simulation_allowed>0</simulation_allowed>
                            </Open>
                            <Declined>
                                <reasons>
                                    <InvalidPaymentMethod>
                                        <simulation_allowed>1</simulation_allowed>
                                        <simulation_options>
                                            <PaymentMethodUpdateTimeInMins type="int">5</PaymentMethodUpdateTimeInMins>
                                        </simulation_options>
                                    </InvalidPaymentMethod>
                                    <AmazonRejected>
                                        <simulation_allowed>1</simulation_allowed>
                                    </AmazonRejected>
                                    <ProcessingFailure>
                                        <simulation_allowed>0</simulation_allowed>
                                    </ProcessingFailure>
                                    <TransactionTimedOut>
                                        <simulation_allowed>1</simulation_allowed>
                                    </TransactionTimedOut>
                                </reasons>
                            </Declined>
                            <Closed>
                                <reasons>
                                    <ExpiredUnused>
                                        <simulation_allowed>1</simulation_allowed>
                                        <simulation_options>
                                            <ExpirationTimeInMins type="int">5</ExpirationTimeInMins>
                                        </simulation_options>
                                    </ExpiredUnused>
                                    <MaxCapturesProcessed>
                                        <simulation_allowed>0</simulation_allowed>
                                    </MaxCapturesProcessed>
                                    <AmazonClosed>
                                        <simulation_allowed>1</simulation_allowed>
                                    </AmazonClosed>
                                    <OrderReferenceCanceled>
                                        <simulation_allowed>0</simulation_allowed>
                                    </OrderReferenceCanceled>
                                    <SellerClosed>
                                        <simulation_allowed>0</simulation_allowed>
                                    </SellerClosed>
                                </reasons>
                            </Closed>
                        </states>
                    </Authorization>
                    <Capture>
                        <states>
                            <Pending>
                                <simulation_allowed>1</simulation_allowed>
                            </Pending>
                            <Declined>
                                <reasons>
                                    <AmazonRejected>
                                        <simulation_allowed>1</simulation_allowed>
                                    </AmazonRejected>
                                    <ProcessingFailure>
                                        <simulation_allowed>0</simulation_allowed>
                                    </ProcessingFailure>
                                </reasons>
                            </Declined>
                            <Completed>
                                <simulation_allowed>0</simulation_allowed>
                            </Completed>
                            <Closed>
                                <reasons>
                                    <MaxAmountRefunded>
                                        <simulation_allowed>0</simulation_allowed>
                                    </MaxAmountRefunded>
                                    <MaxRefundsProcessed>
                                        <simulation_allowed>0</simulation_allowed>
                                    </MaxRefundsProcessed>
                                    <AmazonClosed>
                                        <simulation_allowed>1</simulation_allowed>
                                    </AmazonClosed>
                                </reasons>
                            </Closed>
                        </states>
                    </Capture>
                    <Refund>
                        <states>
                            <Pending>
                                <simulation_allowed>0</simulation_allowed>
                            </Pending>
                            <Declined>
                                <reasons>
                                    <AmazonRejected>
                                        <simulation_allowed>1</simulation_allowed>
                                    </AmazonRejected>
                                    <ProcessingFailure>
                                        <simulation_allowed>0</simulation_allowed>
                                    </ProcessingFailure>
                                </reasons>
                            </Declined>
                            <Completed>
                                <simulation_allowed>0</simulation_allowed>
                            </Completed>
                        </states>
                    </Refund>
                </objects>
                <debug>
                    <events>
                        <checkout_controller_onepage_save_shipping_method/>
                        <checkout_onepage_controller_success_action/>
                        <controller_front_init_before/>
                        <payment_method_is_active/>
                        <sales_order_payment_cancel/>
                        <sales_order_save_after/>
                    </events>
                </debug>
            </amazonpayments>
        </creativestyle>
    </global>
    <frontend>
        <layout>
            <updates>
                <amazonpayments>
                    <file>amazonpayments.xml</file>
                </amazonpayments>
            </updates>
        </layout>
        <routers>
            <amazonpayments>
                <use>standard</use>
                <args>
                    <module>Creativestyle_AmazonPayments</module>
                    <frontName>amazonpayments</frontName>
                </args>
            </amazonpayments>
        </routers>
        <translate>
            <modules>
                <Creativestyle_AmazonPayments>
                    <files>
                        <default>Creativestyle_AmazonPayments.csv</default>
                    </files>
                </Creativestyle_AmazonPayments>
            </modules>
        </translate>
        <secure_url>
            <amazonpayments_checkout>/amazonpayments/checkout</amazonpayments_checkout>
            <amazonpayments_login>/amazonpayments/login</amazonpayments_login>
            <amazonpayments_ipn>/amazonpayments/ipn</amazonpayments_ipn>
            <amazonpayments_ipn_legacy>/amazonpayments/advanced_ipn</amazonpayments_ipn_legacy>
            <amazonpayments_login_legacy>/amazonpayments/advanced_login</amazonpayments_login_legacy>
        </secure_url>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <amazonpayments after="Mage_Adminhtml">Creativestyle_AmazonPayments_Adminhtml</amazonpayments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <amazonpayments>
                    <file>amazonpayments.xml</file>
                </amazonpayments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Creativestyle_AmazonPayments>
                    <files>
                        <default>Creativestyle_AmazonPayments.csv</default>
                    </files>
                </Creativestyle_AmazonPayments>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <amazonpayments_advanced_log_rotate>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>amazonpayments/observer::rotateLogfiles</model></run>
            </amazonpayments_advanced_log_rotate>
            <amazonpayments_advanced_data_poll>
                <run><model>amazonpayments/observer::pollPaymentTransactionData</model></run>
            </amazonpayments_advanced_data_poll>
        </jobs>
    </crontab>
    <default>
        <payment>
            <amazonpayments_advanced>
                <title>Amazon Pay</title>
                <model>amazonpayments/payment_advanced</model>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <group>amazonpayments</group>
                <active>1</active>
            </amazonpayments_advanced>
            <amazonpayments_advanced_sandbox>
                <title>Amazon Pay (Sandbox)</title>
                <model>amazonpayments/payment_advanced_sandbox</model>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <group>amazonpayments</group>
                <active>1</active>
            </amazonpayments_advanced_sandbox>
            <checkoutbyamazon>
                <title>Checkout by Amazon</title>
                <model>amazonpayments/payment_legacy</model>
                <group>amazonpayments_legacy</group>
                <active>0</active>
            </checkoutbyamazon>
            <checkoutbyamazon_sandbox>
                <title>Checkout by Amazon (Sandbox)</title>
                <model>amazonpayments/payment_legacy</model>
                <group>amazonpayments_legacy</group>
                <active>0</active>
            </checkoutbyamazon_sandbox>
        </payment>
        <amazonpayments>
            <general>
                <active>1</active>
                <login_active>1</login_active>
                <product_page_active>1</product_page_active>
                <environment>live</environment>
                <sandbox_toolbox>0</sandbox_toolbox>
                <ipn_active>1</ipn_active>
                <payment_action>authorize</payment_action>
                <authorization_mode>auto</authorization_mode>
                <new_order_status>pending</new_order_status>
                <authorized_order_status>processing</authorized_order_status>
                <invalid_payment_method_order_status>holded</invalid_payment_method_order_status>
                <transaction_timed_out_order_status>holded</transaction_timed_out_order_status>
                <amazon_rejected_order_status>holded</amazon_rejected_order_status>
                <processing_failure_order_status>holded</processing_failure_order_status>
                <language></language>
                <authentication>auto</authentication>
            </general>
            <email>
                <authorization_declined_template>amazonpayments_advanced_authorization_declined</authorization_declined_template>
                <authorization_declined_identity>sales</authorization_declined_identity>
            </email>
            <design>
                <responsive>1</responsive>
                <address_width>442</address_width>
                <address_height>260</address_height>
                <payment_width>442</payment_width>
                <payment_height>260</payment_height>
            </design>
            <design_login>
                <login_button_type>LwA</login_button_type>
                <login_button_size>small</login_button_size>
                <login_button_color>Gold</login_button_color>
                <pay_button_type>PwA</pay_button_type>
                <pay_button_size>small</pay_button_size>
                <pay_button_color>Gold</pay_button_color>
            </design_login>
            <design_pay>
                <button_size>large</button_size>
                <button_color>orange</button_color>
            </design_pay>
            <developer>
                <log_active>1</log_active>
            </developer>
        </amazonpayments>
    </default>
</config>
