.checkout-onepage-success .wechat-success {
    margin-top: 1em;
}
.checkout-onepage-success .wechat-success p {
    margin-bottom: 0.8em;
}
.checkout-onepage-success .wechat-success img {
    margin: 0 auto;
}
.checkout-onepage-success .wechat-success .img-qr {
    text-align: center;
}
