#addressBookWidgetDiv,
#walletWidgetDiv {
    width: 100%;
    height: 100%;
}
.apa .amazon-widget {
    display: block;
    height: 300px;
    clear: none;
}
.apa .section {
    display: block;
    clear: none;
}
@media only screen and (min-width: 675px) {
    .apa #apa-shipping {
        width: 320px;
        margin-right: 15px;
        float: left;
    }
    .apa #apa-payment {
        margin-left: 335px;
    }
    .apa .store-widget {
        clear: both;
    }
    .apa-virtual-checkout #apa-payment {
        margin-left: 0 !important;
    }

    .apa-invalid-payment #apa-payment {
        margin-left: 0 !important;
    }
}
@media only screen and (min-width: 875px) {
    .apa #apa-shipping {
        width: 420px;
        margin-right: 15px;
        float: left;
    }
    .apa #apa-payment {
        margin-left: 435px;
    }
}
@media only screen and (min-width: 1075px) {
    .apa #apa-shipping {
        width: 520px;
        margin-right: 15px;
        float: left;
    }
    .apa #apa-payment {
        margin-left: 535px;
    }
    .apa-virtual-checkout #apa-payment {
        width: 400px;
        float: left;
        margin-right: 15px;
    }
    .apa-virtual-checkout .review-section {
        margin-left: 415px;
        height: 300px;
        clear: none;
        overflow: auto;
    }
    .apa-invalid-payment #apa-payment {
        width: 400px;
        float: left;
        margin-right: 15px;
    }
    .apa-invalid-payment .review-section {
        margin-left: 415px;
        height: auto;
        clear: none;
        overflow: auto;
    }
}
@media only screen and (min-width: 1260px) {
    .apa #apa-shipping {
        width: 390px;
        margin-right: 15px;
        float: left;
    }
    .apa #apa-payment {
        width: 390px;
        margin-right: 15px;
        margin-left: 0;
        float: left;
    }
    .apa .narrow-section {
        height: 300px;
        margin-left: 810px;
        clear: none;
        overflow: auto;
    }
    .apa-virtual-checkout #apa-payment {
        width: 400px;
    }
    .apa-invalid-payment #apa-payment {
        width: 400px;
    }
}
